# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{java,groovy,xml,html,properties}]
indent_style = space
indent_size = 4

# latin1 == US-ASCII
[*.sql]
charset = latin1
