* text=auto

*.java       text
*.js         text
*.sql        text
*.html       text
*.groovy     text
*.css        text
*.scss       text
*.min.js     text
*.properties text
*.txt        text

*.ico     binary
*.png     binary
*.gif     binary
*.jpg     binary
*.jpeg    binary
*.xcf     binary
*.ttf     binary
*.eot     binary
*.woff    binary
*.woff2   binary
*.otf     binary
