<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header(title = 'Administer User Roles')">
</head>

<body>
<header th:replace="fragments :: navbar">
</header>

<div class="container main-body">
    <section class="content-wrapper">
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}">Something went wrong.</p>
        </div>

        <div th:if="${message}" class="alert alert-success">
            <p th:text="${message}">Something went right.</p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2 th:text="|${user.firstName} ${user.lastName}|">Piet Pompies</h2>
                <h3>Roles</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form th:action="@{/admin/users/{id}/roles(id=${user.id})}" th:object="${userRolesForm}"
                        action='#' method='POST' class="table-action">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="form-group">
                        <input type="checkbox" th:field="*{roles}" th:each="role : ${roles}" th:value="${role.id}"
                               th:text="${role.description}" />
                    </div>

                    <button class="btn btn-sm btn-primary" type="submit">Update Roles</button>
                </form>
            </div>
        </div>
    </section>
</div>

<div th:replace="fragments :: footer">
</div>

<div th:replace="fragments :: scripts">
</div>

<script th:src="@{/assets/{timestamp}/js/pages/account.js(timestamp=${config.assetsTimestamp})}"></script>


<div id="createUser" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
