<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header(title = 'Page Not Found')">
</head>

<body>
<header th:replace="fragments :: navbar">
</header>

<div class="container main-body">
    <section class="content-wrapper">
        <h2>Page not found.</h2>

        <p>It seems the page you requested can not be found.</p>

        <p>To go back home click <a href="#" th:href="@{/}">here</a></p>
    </section>
</div>

<div th:replace="fragments :: footer">
</div>

<div th:replace="fragments :: scripts">
</div>
</body>
</html>
