<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header(title = 'Terms & Conditions')">
</head>

<body>
<header th:replace="fragments :: navbar">
</header>

<div class="container main-body">
    <section class="content-wrapper">
        <div class="row">

            <div class="col-sm-12">
                <div class="box sidebar-box widget-wrapper">
                    <h3>Terms and conditions</h3>
                    <p>Lorem ipsum dolor sit amet, enim discere mei at, cum stet mnesarchum eu, in tale tantas cum. Utroque offendit philosophia eos ne. Ne mei illum gubergren, libris omnesque adipisci ius et. Has quod erant noster in. Vis laudem mentitum te. Stet perpetua ad has, sed oporteat mediocrem dissentiunt ne.

                        Et vim albucius qualisque. Nec ei principes vulputate philosophia. Euismod singulis similique vim te, et habeo errem sensibus eos, audire aliquid an ius. Duo munere legimus an, vel vocent iriure ne, dolorem civibus luptatum est ex. Meis mucius equidem nec at, qui prima justo sadipscing ad, solum brute melius no cum.

                        Putent perfecto an mel, ancillae voluptua est et, fabulas definiebas persequeris te his. Ad erat voluptatum per. Pri quis ullum definitiones te, probatus periculis ius an. Labores percipitur deterruisset quo id, malorum constituto mei an. Qui quod iisque cu. Porro nulla duo in, ius malis dicat abhorreant ne.

                        Malis dicat ullamcorper usu ad, nisl oratio integre eum in. Cum error deterruisset ut, agam maiestatis id mel. Id magna dolorum vivendum est, malis scripserit ne nec, vis congue facilis fierent eu. Sed falli integre facilisi ut, sed ne paulo gubergren efficiendi, nam ea ornatus percipit phaedrum. Vix id timeam postulant tractatos, ne detracto disputationi vix, falli causae bonorum eos ad. Docendi fierent in eam, illud quodsi et nam.

                        Nam sanctus philosophia ei. Ei oblique accusamus est, veri persius at eum. An eam soluta scripserit, tollit perfecto vix te, iriure ceteros postulant ius ne. Est omnis suavitate ne.</p>
                </div>
            </div>

        </div>
    </section>
</div>

<div th:replace="fragments :: footer">
</div>

<div th:replace="fragments :: scripts">
</div>
</body>
</html>
